h3
{
    font-size: 25px !important;
}
button
{
    font-size: 19px;
}
.btn-success:hover
{
    background-color: rgb(255, 0, 76);
}
canvas
{
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes example
{
    from{box-shadow: 1px 1px 38px darkblue;}
    to{box-shadow: 1px 1px 38px maroon;}
}
